.centered{
    min-height: 60vh;
    align-items: center;
}

.cardadmin-container{
    position: relative;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
}

.cardadmin-image{
    position: relative;
    text-align: center;
}

.text-overlay-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quincy CF';
    font-size: 55px;
    // background-color: rgba($color: #000000, $alpha: 0.2);
    // height: 100%;
    // width: 100%;
    
}

.cardamin-textoverlay{
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
}
.btn-action{
    width: 40%;
    margin: 10px;
}